@model EIP.CanonicalDomain.Events.EmployeeHired

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<fieldset>
    <legend>EmployeeHired</legend>

    <div class="display-label">Event_Version</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Event_Version)
    </div>

    <div class="display-label">Event_Id</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Event_Id)
    </div>

    <div class="display-label">Event_Occurred</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Event_Occurred)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
