@model IEnumerable<Tutorials.Core.Domain.Context.Context>

<h2 style="margin: 10px;">Índice</h2>

@if (Model != null)
{
	foreach (var item in Model)
	{
		<a class="context" href="@Url.Content("~/Context/Details/" + @item.Key)" style="background: #eee; margin: 5px; border: 1px solid #ddd; padding: 5px; display: block;" order="@item.Order" id="@item.Key">@item.Title</a>
	}
}
